div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a {
	@include transition(all ease-out .3s);
}
.clear:before, .clear:after { content: " "; display: table; }
.clear { *zoom: 1; }
.clear {clear: both;}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo {
	width: 200px;
	margin: 0 auto;
	@media screen and (min-width: $tabwidth) {
		width: 300px;
		margin: 0 0;
		float: left;
	}
	a,img {
		width: 100%;
		height: auto;
		float: left;
	}
}
.site-header {
	.wrapper {
		padding: 5px 0;
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-items(center);
			padding-left: 20px;
			padding-right: 20px;
		}
		.left {
			width: 100%;
			float: left;
			margin: 10px 0 5px;
			@media screen and (min-width: $tabwidth) {
				width: 30%;
				margin: 0 0;
			}
		}
		.right {
			width: 100%;
			float: left;
			@media screen and (min-width: $tabwidth) {
				width: 70%;
			}
		}
	}
}
.site-footer {
	width: 100%;
	clear: both;
}